@font-face {
	font-family: 'WisdomScript';
	font-style: normal;
	font-weight: 400;
	src:  url("/fonts/Wisdom-Script.tff"), format('ttf');
}
html,
body,
ul,
li,
h1,
h2,
p {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'raleway', sans-serif;
	color: #2c3e50;
	background-image: url('img/bgImage.png');
	-webkit-font-smoothing: antialiased;
}
.container {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -350px 0 0 -410px;
	text-align: center;
}
.media img {
	display: block;
	position: fixed;
}
.sqrtSign {
	max-width: 20%;
	height: auto;
	padding: 20px 0 20px 20px;
}
h1 {
	font-size: 40px;
	font-family: 'WisdomScript';
	color: #FFFFFF;
}
h2 {
	font-weight: 600;
	font-size: 150px;
	color: #FFFFFF;
}
p {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 25px;
}
li {
	top: 50%;
	left: 50%;
	padding: 0 4px;
}
.leftLinks {
	display: block;
	list-style: none;
	font-weight: 700;
	margin: 600px 0px 0px 0px;
	text-align: right;
}
.rightLinks {
	display: block;
	list-style: none;
	font-weight: 700;
	margin: 10px 40px 0px 0px;
	text-align: left;
}
a,
a:visited {
	color: white;
	font-size: 25px;
	text-decoration: none;
}
a:hover {
	color: tomato;
}